<!DOCTYPE html>
<html>
<head>
    <title>Horizon - Settings</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/Settings.css">
    <script src="javascripts/jquery-1.11.0.min.js"></script>
    <script src="javascripts/Settings.js"></script>
</head>

<body>
    <div id="everything">
        <div id="leftside">
            <div id='sidebar'>
                <ul id='sidebarMenu'>
                    <li id="username">Username</li>
                    <li id="password">Password</li>
                    <li id="email">Email</li>
                    <li id="userType">Account Type</li>
                </ul>
            </div>
            <div id='compass'>The UMass Compass</div>
            <div id='horizon'>by Horizon</div>
            <div id='bar'></div>
        </div>
        <div id="center">
            <div id='navMenu'>
                <div id='navChecklist'>
                    <div class='navContainer'><a href="/Checklist" id="checklist">Checklist</a></div>
                </div>
                <div id='navSettings'>
                    <div class='navContainer'><a href="/settings" id="settings">Settings</a></div>
                </div>
                <div id='navForums'>
                    <div class='navContainer'>Forums</div>
                </div>
                <div id='navLogout'>
                    <div class='nacContainer'><a href="/logout" id="logout">Logout</a></div>
                </div>
            </div>
            <div id="title">Current Settings</div>
            <div id="curSettings">
                <div id="curName">
                    <div id="lbl">Current Username:</div>
                    <div id="info"><%= curName %></div>
                </div>
                <div id="curPass">
                    <div id="lbl">Current Password:</div>
                    <div id="info"><%= curPass %></div>
                </div>
                <div id="curEmail">
                    <div id="lbl">Current Email:</div>
                    <div id="info"><%= curMail %></div>
                </div>
                <div id="curAccountType">
                    <div id="lbl">Current Account Type:</div>
                    <div id="info">
                        <% if (curType === false) { %>
                            <p>Student</p>
                        <% } %>
                        <% if (curType === true) { %>
                            <p>Designer</p>
                        <% } %>
                    </div>
                </div>
            </div>
			
            <% if(error) { %>
              <p> <div class="error"> <%= error %> </p> 
            <% } %> 

            <% if(success) { %>
                <p> <div class="success"><%= success %> </p>
            <% } %>
        </div>
    </div>
</body>
</html>